
/*GENERAL*/

*, *:before, *:after {
  box-sizing: border-box;
  color: inherit;
}

body {
  font-family: "Arimo", "Helvetica", sans-serif;
  line-height: 1.5;
  color: #c07b59;
  background: #444C48;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 700px;
  margin: 0 auto;
}

.content-section {
  background: #144442;
  background: #0A5C6B;
  background: #AE5B0C;
  background: #3b332b;
  overflow: hidden; /*No margin collapse w/children*/
}

.content-section .container {
  background: white;
  padding: 40px 30px 0;
  overflow: hidden; /*No margin collapse w/children*/
}

a {
  color: #144442;
  color: #0A5C6B;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  padding-top: 5px;
}

/*HEADINGS*/

/*used by headings that are needed for HTML5 document outline but not for visually browsing the site*/
.invisible-but-outline-readable {
  color: red; /*call attention if hiding isn't working*/
  width: 0;
  height: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Arimo", "Helvetica", sans-serif;
}

h2 {
  color: #732d0d;
  margin-top: 2em;
  margin-bottom: 0;
}

h3 {
  color: #823c1c;
  margin-top: 1.5em;
  margin-bottom: 0;
}

/*NAVIGATION*/

nav {
  font-family: "Roboto", sans-serif;
  color: #a8e0f0;
  color: #7ABECB;
  color: #d4dcd8;
  background: #444C48;
  width: 100%;
  position: fixed;
  z-index: 1; /*not affected by the about overlay*/
}

nav a {
  text-decoration: none;
  color: inherit;
}

nav a:hover {
  text-decoration: none;
}

nav .logo {
  float: left;
  padding: 15px 0;
  color: #F29A47;
  font-weight: 700;
}

nav .logo:hover {
  color: #d4dcd8;
}

nav ul {
  list-style: none;
  float: right;
  /*Remove spaces between inline-block children*/
  font-size: 0;
}

nav ul li {
  display: inline-block;
  /*Override 0-size text in ul*/
  font-size: 1rem;
}

nav ul li a {
  display: inline-block;
  padding: 15px 10px;
}

nav ul li a:hover {
  color: #F29A47;
  background: #242C28;
}

/*ABOUT*/

.about {
  font-family: "Roboto", sans-serif;
  background-image: url("../img/mountains-grey.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  background-size: cover;
  min-height: 600px;
  height: 100vh;
  color: white;
  font-size: 20px;
  position: relative;
}

.about .overlay {
  /*background: #1C7889;*/
  background: rgba(28,120,137,0.85);
  min-height: 600px;
  height: 100vh;
}

.about .container {
  background: none;
  padding: 225px 0 0;
}

.about a {
  color: #F29A47;
}

.about footer {
  display: block;
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  text-align: center;
}

/*SKILLS*/

.skills {

}

/*PROJECTS*/

.projects {

}

/*RESUME*/

.resume {

}

/*CONTACT*/

.contact {

}

/*MEDIA QUERIES*/
