
/*GENERAL*/

*, *:before, *:after {
  box-sizing: border-box;
  color: inherit;
}

body {
  font-family: "Arimo", "Helvetica", sans-serif;
  line-height: 1.5;
  color: #2d4c53;
  background: #394446;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 720px;
  margin: 0 auto;
}

.content-section {
  background: #024A58;
  /*No margin collapse w/children*/
  overflow: hidden;
}

.content-section .container {
  background: #eef5f7;
  padding: 10px 35px 0;
  /*No margin collapse w/children*/
  overflow: hidden;
}

.content-section footer {
  text-align: center;
  padding-top: 5px;
}

a {
  color: #e77f1f;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/*HEADINGS*/

/*used by headings that are needed for HTML5 document outline but not for visually browsing the site*/
.invisible-but-outline-readable {
  /*call attention if hiding isn't working*/
  color: red;
  width: 0;
  height: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Arimo", "Helvetica", sans-serif;
}

h2 {
  color: #1b2e32;
  margin: 0;
  font-size: 40px;
}

h3 {
  color: #1b2e32;
  margin-top: 1.5em;
  margin-bottom: 0;
}

/*NAVIGATION*/

nav {
  font-family: "Roboto", sans-serif;
  color: #c7d0d1;
  background: #455154;
  width: 100%;
  position: fixed;
  /*not affected by the about overlay*/
  z-index: 1;
}

nav a {
  text-decoration: none;
  color: inherit;
}

nav a:hover {
  text-decoration: none;
}

.nav-logo {
  float: left;
  padding: 15px 0;
  color: #F29A47;
  font-weight: 700;
}

.nav-logo:hover {
  color: #d1dee0;
}

nav ul {
  list-style: none;
  float: right;
  /*Remove spaces between inline-block children*/
  font-size: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  /*Override 0-size text in ul*/
  font-size: 1rem;
}

nav ul li a {
  display: inline-block;
  padding: 15px 11.2px;
}

nav ul li a:hover {
  color: #F29A47;
  background: #1b2e32;

}

/*ABOUT*/

.about {
  font-family: "Roboto", sans-serif;
  background-image: url("../img/mountains-grey.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  background-size: cover;
  min-height: 600px;
  height: 100vh;
  color: white;
  font-size: 20px;
  position: relative;
}

.about .overlay {
  background: rgba(28,120,137,0.82);
  min-height: 600px;
  height: 100vh;
}

.about .container {
  background: none;
  padding: 280px 0 0;
}

.about p {
  text-align: right;
  line-height: 1.5;
}

.about a {
  color: #F29A47;
}

.about header {
  color: #f1f4f2;
  font-weight: 700;
  font-size: 3.1em;
  line-height: 1em;
}

.about header .darga {
  color: #F29A47;
}

.about header .subtitle {
  color: #1b2e32;
  font-weight: 500;
  font-size: 0.62em;
  float: right;
  position: relative;
  top: 8px;
  right: 2px;
}

.about #study-duration span {
  color: #f5b070;
  font-size: 1.2em;
  font-weight: 700;
}

.about footer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 80px;
  width: 100%;
}

.about footer a {
  display: block;
  height: 100%;
  padding-top: 5px;
  text-align: center;
  /*Hide link text*/
  font-size: 0;
  color: #a1a9aa;
}

.about footer a i {
  /*Cancel out hidden text from parent*/
  font-size: 3.5rem;
}

.about footer a:hover{
  padding-top: 0;
  color: #d97d26;
}

.about footer a:hover i {
  /*Have to set fontsize here and not the anchor, so the original link text will stay hidden*/
  font-size: 4rem;
}

/*SKILLS*/

.skills {
  background: #024A58;
}

.skills .container {
  padding: 110px 0 160px;
  background: none;
}

.skills header {
  margin-bottom: 10px;
  position: relative;
  /*Relative for dropdown positioning*/
}

.skills h2 {
  display: inline-block;
  margin: 0 0 5px;
  color: #eef5f7;
}

.skills form {
  position: absolute;
  right: 0;
  bottom: 18px;
}

.skills label {
  color: #eef5f7;
  font-size: 1.2em;
  position: relative;
  top: 2px;
}

.skills select {
  width: 150px;
  margin-left: 8px;
  font-size: 1.05em;
  font-weight: 500;
  border: 3px solid #e77f1f;
  border-radius: 0;
  color: #1a707f;
  background: #eef5f7;
}

.skills select:focus {
  outline: none;
}

.skills .skill-list {
  text-align: center;
  /*Remove spaces between inline-block children*/
  font-size: 0;
}

.skills .skill-card {
  display: inline-block;
  width: 120px;
  padding: 15px 0;
  text-align: center;
  /*Override 0-size text in ul*/
  font-size: 16px;
  background: #eef5f7;
  border: 1px solid #2d4c53;
}

.skill-card:hover {
  background: #e77f1f;
}

.skill-card:hover .skill-type,
.skill-card:hover i,
.skill-card:hover .skill-name,
.skill-card:hover .skill-project-count {
  color: #eef5f7;
}

.skill-card p {
  margin: 0;
}

.skill-card .skill-type {
  font-size: 16px;
  margin-bottom: 5px;
  color: #8f8276;
}

.skill-card i {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 60px;
  color: #e77f1f;
}

.skill-name {
  font-size: 18px;
  margin: 0;
  color: #1a707f;
}

.skill-project-count {
  font-size: 14px;
}

/*PROJECTS*/

.projects {
  background: #1C7889;
}

.projects .container {
  max-width: 960px;
  padding: 110px 0 160px;
  background: none;
  /*Remove spaces between inline-block children*/
  font-size: 0;
}

.projects h2 {
  text-align: center;
  margin: 0 0 15px;
  color: #eef5f7;
}

.projects .project-list {
  text-align: center;
}

.projects .project-card {
  display: inline-block;
  max-width: 480px;
  padding: 0 40px 20px;
  /*Override 0-size text in container*/
  text-align: center;
  font-size: 1rem;
  background: #eef5f7;
  border: 2px solid #1C7889;
  /*No margin collapse with children*/
  overflow: hidden;
}

.project-card .header-link:hover {
  text-decoration: none;
}

.project-card h3 {
  font-size: 1.5em;
  color: #1a707f;
}

.project-card .type-span {
  font-size: 0.95em;
}

.project-card time {
  color: #8f8276;
  font-size: 0.95em;
}

.project-card img {
  display: block;
  width: 100%;
  margin: 20px 0;
}

.project-card .tags-span {
  color: #1a707f;
  font-weight: 700;
  font-size: 0.95em;
}

.project-card p {
  font-size: 0.95em;
  margin: 10px 0 -10px;
}

a.project-link {
  display: inline-block;
  /*Hide link text*/
  font-size: 0;
  width: 50px;
  height: 50px;
}

a.project-link i {
  vertical-align: top;
  font-size: 36px;
  line-height: 50px;
}

a.project-link:hover i {
  font-size: 50px;
}

/*RESUME*/

.resume {
  height: 410px;
  background-image: url("../img/ocean-grey.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  background-size: cover;
}

.resume .overlay {
  background: rgba(2,63,75,0.70);
  height: inherit;
}

.resume .container {
  background: none;
  padding: 30px 0 40px;
}

.resume h2 {
  margin-top: 60px;
  margin-bottom: 40px;
  text-align: center;
  color: #eef5f7;
}

.resume .buttons {
  text-align: center;
  font-size: 0;
}

.resume .button {
  display: inline-block;
  width: 164px;
  margin: 0 14px;
  padding: 10px 21px;
  color: #eef5f7;
  background: #e77f1f;
}

.resume .button:hover {
  color: #e77f1f;
  background: #eef5f7;
  text-decoration: none;
}

.resume i {
  float: left;
  font-size: 47px;
}

.resume span {
  float: right;
  text-align: left;
  font-size: 1.1rem;
  line-height: 1.4em;
  font-weight: 500;
}

/*CONTACT*/

.contact {
  background: none;
  color: #eef5f7;
  height: 275px;
}

.contact .container {
  background: none;
  text-align: center;
  height: inherit;
  padding: 22px 0 0;
  font-size: 0;
}

.contact h2 {
  color: inherit;
  margin-top: 40px;
  margin-bottom: 33px;
  text-align: center;
}

.contact .button {
  color: #e77f1f;
  margin: 0 13px;
}

.contact .button:hover {
  color: inherit;
  text-decoration: none;
}

.contact i {
  font-size: 80px;
}

.contact .icon-envelope {
  font-size: 68px;
  position: relative;
  top: 1px;
}

.contact span {
  font-size: 0;
}

/*FOOTER*/

.page-footer {
  background: none;
  /*No margin collapse w/children*/
  overflow: hidden;
  text-align: center;
  height: 70px;
}

.page-footer a {
  display: inline-block;
  margin: 4px 0 0;
  /*Slightly wider hover 'hitbox'*/
  padding: 0 10px;
  text-align: center;
  text-decoration: none;
  /*Hide link text*/
  font-size: 0;
  color: #a1a9aa;
}

.page-footer a i {
  /*Cancel out hidden text from parent*/
  font-size: 3rem;
}

.page-footer a:hover {
  margin-top: 0px;
  color: #d97d26;
}

.page-footer a:hover i {
  /*Have to set fontsize here and not the anchor, so the original link text will stay hidden*/
  font-size: 3.5rem;
}

/*MEDIA QUERIES*/

@media (max-width: 800px) {

  /*GENERAL*/

  /*NAVIGATION*/

  nav .container {
    max-width: 550px;
    padding: 0 20px;
  }

  nav .nav-logo {
    margin-left: 11px
  }

  /*ABOUT*/

  .about .container {
    padding-top: 200px;
  }

  .about main {
    max-width: 485px;
    margin: 0 auto;
  }

  .about header {
    text-align: center;
  }

  .about p {
    text-align: center;
    margin-bottom: 30px;
  }

  .about header .logo {
    display: block;
    width: 100%;
  }

  .about header .subtitle {
    display: block;
    width: 100%;
    margin: 6px 0 25px;
    line-height: 1.3;
  }

  /*SKILLS*/

  .skills .container {
    padding-top: 75px;
  }

  .skills h2 {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
  }

  .skills form {
    position: relative;
    text-align: center;
  }

  /*PROJECTS*/

  /*RESUME*/

  /*CONTACT*/

}

@media (max-width: 600px) {

  /*GENERAL*/

  /*NAVIGATION*/

  /*ABOUT*/

  .about .container {
    padding-top: 28%;
  }

  .about main {
    width: 100%;
    padding: 40px;
  }

  /*SKILLS*/

  /*PROJECTS*/

  /*RESUME*/

  /*CONTACT*/

}

@media (max-width: 486px) {

  /*GENERAL*/

  /*NAVIGATION*/

  nav {
    text-align: center;
  }

  nav .container {
    padding: 0;
  }

  nav .nav-logo {
    float: none;
    padding: 14px 0 10px;
  }

  nav ul {
    float: none;
    width: 100%;
  }

  nav ul li a {
    padding: 12px 12px;
  }

  /*ABOUT*/

  .about header .logo {
    font-size: .8em;
  }

  .about header .subtitle {
    font-size: .55em;
  }

  /*SKILLS*/

  .skills .container {
    padding: 115px 4px 50px;
  }

  /*PROJECTS*/

  /*RESUME*/

  /*CONTACT*/

}
