/*MEDIA QUERIES*/

@media (max-width: 800px) {
  .projects .container {
    padding-bottom: 110px;
  }
}

@media (max-width: 600px) {
  .projects .container {
    padding-bottom: 100px;
  }
}

@media (max-width: 486px) {
  .projects .container {
    padding-top: 112px;
  }

  .projects .project-card h3 {
    margin-bottom: 6px;
    line-height: 1.4;
  }
}

@media (max-width: 325px) {
  .projects .container {
    padding-top: 80px;
  }
}
