@use '../../constants';
@use '../../general';

.project-card {
  background: constants.$project-card-background-color;
  border: 2px solid constants.$project-card-border-color;
  display: inline-block;
  font-size: 1rem;
  max-width: 480px;

  /* No margin collapse with children */
  overflow: hidden;
  padding: 0 40px 20px;

  /* Override 0-size text in container */
  text-align: center;
}

.project-card h3 {
  font-size: 1.5em;
}

.type-span {
  font-size: 0.95em;
}

.project-card time {
  color: constants.$project-card-date-text-color;
  font-size: 0.95em;
}

.project-card img {
  display: block;
  margin: 20px 0;
  width: 100%;
}

.tags-span {
  color: constants.$project-card-tags-text-color;
  font-size: 0.95em;
  font-weight: 700;
}

.project-card p {
  font-size: 0.95em;
  margin: 10px 0 -10px;
}

.header-link:hover {
  text-decoration: none;
}

.link-icon-container {
  display: inline-block;

  /* Hide link text */
  font-size: 0;
  height: 50px;
  width: 50px;
}

.link-icon-container i {
  font-size: 36px;
  line-height: 50px;
  vertical-align: top;
}

.link-icon-container:hover i {
  font-size: 50px;
}

/* MEDIA QUERIES */

@media (max-width: 800px) {

}

@media (max-width: 600px) {

}

@media (max-width: 486px) {
  .project-card h3 {
    line-height: 1.4;
    margin-bottom: 6px;
  }
}

@media (max-width: 325px) {

}
