@use '../../config';
@use '../../utils/break';

.content-section {
  background: config.$projects-section-background-color;
}

.container {
  font-size: 0; // Remove spaces between inline-block children
  max-width: 960px;
}

.list {
  text-align: center;
}
