@use '../../config';
@use '../../utils/break';

.card {
  background: config.$project-card-background-color;
  border: 2px solid config.$projects-section-background-color;
  display: inline-block;
  font-size: 1rem; // override 0-size text in container
  max-width: config.$project-card-max-width;
  min-width: config.$project-card-min-width;
  padding: 0 40px 20px;
  text-align: center;

  h3 {
    font-size: 1.5em;

    @include break.under(small) {
      line-height: 1.4;
      margin-bottom: 6px;
    }
  }

  time {
    color: config.$project-card-date-text-color;
    font-size: 0.95em;
  }

  img {
    display: block;
    margin: 20px 0;
    width: 100%;
  }

  p {
    font-size: 0.95em;
    margin: 10px 0 -10px;
  }
}

.type {
  font-size: 0.95em;
}

.tags {
  color: config.$project-card-tags-text-color;
  font-size: 0.95em;
  font-weight: 700;
}

.link-container {
  display: inline-grid;
  font-size: 0; // hide link text (to replace with icon)
  height: 50px;
  place-items: center;
  width: 50px;

  i {
    display: inherit;
    font-size: 32px;
    height: inherit;
    place-items: inherit;
    width: inherit;
  }

  &:hover i {
    font-size: 44px;
  }
}
