@use '../../constants';
@use '../../general';
@use '../../break';

.projects {
  background: constants.$projects-section-background-color;
}

.container {
  background: none;

  /* Remove spaces between inline-block children */
  font-size: 0;
  max-width: 960px;
  padding: 110px 0 160px;
}

.projects h2 {
  margin: 0 0 15px;
  text-align: center;
}

.project-list {
  text-align: center;
}

/* MEDIA QUERIES */

@include break.under(large) {
  .container {
    padding-bottom: 110px;
  }
}

@include break.under(medium) {
  .container {
    padding-bottom: 100px;
  }
}

@include break.under(small) {
  .container {
    padding-top: 112px;
  }
}

@include break.under(tiny) {
  .container {
    padding-top: 80px;
  }
}
