@use '../../config';
@use '../../utils/break';

.projects-section {
  background: config.$projects-section-background-color;

  h2 {
    margin: 0 0 15px;
    text-align: center;
  }
}

.container {
  background: none;

  /* Remove spaces between inline-block children */
  font-size: 0;
  max-width: 960px;
  padding: 110px 0 160px;

  @include break.under(large) {
    padding-bottom: 110px;
  }

  @include break.under(medium) {
    padding-bottom: 100px;
  }

  @include break.under(small) {
    padding-top: 112px;
  }

  @include break.under(tiny) {
    padding-top: 80px;
  }
}

.project-list {
  text-align: center;
}
