@import '../../constants';

.skills {
  background: $content-section-background-color;
}

.skills .container {
  background: none;
  padding: 110px 0 160px;
}

.skills header {
  margin-bottom: 10px;
  position: relative;

  /* Relative for dropdown positioning */
}

.skills h2 {
  display: inline-block;
  margin: 0 0 5px;
}

.skills form {
  bottom: 18px;
  position: absolute;
  right: 0;
}

.skills label {
  color: $skill-sort-selector-label-text-color;
  font-size: 1.2em;
  position: relative;
  top: 2px;
}

.skills select {
  background: $skill-sort-selector-background-color;
  border: 3px solid $skill-sort-selector-border-color;
  border-radius: 0;
  color: $skill-sort-selector-text-color;
  font-size: 1.05em;
  font-weight: 500;
  margin-left: 8px;
  width: 150px;
}

.skills select:focus {
  outline: none;
}

.skills .skill-list {
  /* Remove spaces between inline-block children */
  font-size: 0;
  text-align: center;
}

.skills .skill-card {
  background: $skill-card-background-color;
  border: 1px solid $skill-card-border-color;
  display: inline-block;

  /* Override 0-size text in ul */
  font-size: 16px;
  padding: 15px 0;
  text-align: center;
  width: 120px;
}

.skill-card:hover {
  background: $skill-card-hover-background-color;
}

.skill-card:hover .skill-type,
.skill-card:hover i,
.skill-card:hover .skill-name,
.skill-card:hover .skill-project-count {
  color: $skill-card-hover-text-color;
}

.skill-card p {
  margin: 0;
}

.skill-card .skill-type {
  color: $skill-card-type-text-color;
  font-size: 16px;
  margin-bottom: 5px;
}

.skill-card i {
  color: $skill-card-icon-text-color;
  display: inline-block;
  font-size: 60px;
  margin-bottom: 5px;
}

.skill-name {
  font-size: 18px;
  margin: 0;
}

.skill-project-count {
  font-size: 14px;
}

/* MEDIA QUERIES */

@media (max-width: 800px) {
  .skills .container {
    padding-top: 75px;
  }

  .skills h2 {
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
  }

  .skills form {
    position: relative;
    text-align: center;
  }
}

@media (max-width: 600px) {

}

@media (max-width: 486px) {
  .skills .container {
    padding: 115px 4px 50px;
  }
}

@media (max-width: 325px) {
  .skills .container {
    padding-top: 80px;
  }
}
