@use '../../base/constants';
@use '../../base/base';
@use '../../util/break';

.sort-selector-form {
  bottom: 18px;
  position: absolute;
  right: 0;

  @include break.under(large) {
    position: relative;
    text-align: center;
  }

  label {
    color: constants.$skill-sort-selector-label-text-color;
    font-size: 1.2em;
    position: relative;
    top: 2px;
  }

  select {
    background: constants.$skill-sort-selector-background-color;
    border: 3px solid constants.$skill-sort-selector-border-color;
    border-radius: 0;
    color: constants.$skill-sort-selector-text-color;
    font-size: 1.05em;
    font-weight: 500;
    margin-left: 8px;
    width: 150px;
  }
}
