@import '../../constants';
@import '../../general';

.skills {
  background: $content-section-background-color;
}

.skills .container {
  background: none;
  padding: 110px 0 160px;
}

.skills header {
  margin-bottom: 10px;
  position: relative;

  /* Relative for dropdown positioning */
}

.skills h2 {
  display: inline-block;
  margin: 0 0 5px;
}

.skill-list {
  /* Remove spaces between inline-block children */
  font-size: 0;
  text-align: center;
}

/* MEDIA QUERIES */

@media (max-width: 800px) {
  .skills .container {
    padding-top: 75px;
  }

  .skills h2 {
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
  }

  .skills form {
    position: relative;
    text-align: center;
  }
}

@media (max-width: 600px) {

}

@media (max-width: 486px) {
  .skills .container {
    padding: 115px 4px 50px;
  }
}

@media (max-width: 325px) {
  .skills .container {
    padding-top: 80px;
  }
}
