@use '../../config';
@use '../../utils/break';

.content-section {
  header {
    display: inline-flex;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;

    @include break.under(large) {
      flex-direction: column;
      margin-bottom: 24px;
    }
  }

  h2 {
    display: inline-block;
    margin-bottom: 5px;
    text-align: left;

    @include break.under(large) {
      text-align: center;
    }
  }

  form {
    @include break.under(large) {
      text-align: center;
    }
  }
}

.list {
  font-size: 0; // remove spaces between inline-block children
  min-height: config.$skill-list-min-height;
  text-align: center;
}
