@use '../../config';

.card {
  background: config.$skill-card-background-color;
  border: 2px solid config.$content-section-background-color;
  display: inline-block;
  font-size: 16px; // override 0-size text in ul
  height: config.$skill-card-height;
  padding: 15px 0;
  text-align: center;
  width: config.$skill-card-width;

  &:hover {
    background: config.$skill-card-hover-background-color;
  }

  i {
    color: config.$skill-card-icon-text-color;
    display: inline-block;
    font-size: 58px;
    margin-bottom: 5px;
  }
}

.time-since-commit {
  color: config.$skill-card-time-since-commit-text-color;
  font-size: 15px;
  margin: 0 0 5px;
}

.name {
  font-size: 18px;
  margin: 0;
}

.repo-count {
  font-size: 14px;
  margin: 0;
}

.card:hover .time-since-commit,
.card:hover i,
.card:hover .name,
.card:hover .repo-count {
  color: config.$skill-card-hover-text-color;
}
