@use '../../base/constants';
@use '../../base/base';

.skill-card {
  background: constants.$skill-card-background-color;
  border: 1px solid constants.$skill-card-border-color;
  display: inline-block;

  /* Override 0-size text in ul */
  font-size: 16px;
  padding: 15px 0;
  text-align: center;
  width: 120px;

  &:hover {
    background: constants.$skill-card-hover-background-color;
  }

  i {
    color: constants.$skill-card-icon-text-color;
    display: inline-block;
    font-size: 60px;
    margin-bottom: 5px;
  }

  p {
    margin: 0;
  }

  .skill-type {
    color: constants.$skill-card-type-text-color;
    font-size: 16px;
    margin-bottom: 5px;
  }
}

.skill-name {
  font-size: 18px;
  margin: 0;
}

.skill-project-count {
  font-size: 14px;
}

.skill-card:hover .skill-type,
.skill-card:hover i,
.skill-card:hover .skill-name,
.skill-card:hover .skill-project-count {
  color: constants.$skill-card-hover-text-color;
}
