/*MEDIA QUERIES*/

@media (max-width: 800px) {

}

@media (max-width: 600px) {

}

@media (max-width: 486px) {
  .resume {
    height: auto;
  }

  .resume .container {
    padding: 60px 0 55px;
    max-width: 200px;
  }

  .resume h2 {
    margin-bottom: 12px;
  }

  .resume .button:nth-child(1) {
    margin-bottom: 20px;
  }
}

@media (max-width: 325px) {
  .resume .container {
    padding-top: 30px;
  }
}
