@import '../../constants';
@import '../../general';

.about {
  background-attachment: scroll;
  background-position: center;
  //TODO get images working with webpack
  //background-image: url("../img/mountains-grey.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  height: 100vh;
  min-height: 775px;
  position: relative;
}

.overlay {
  background: rgba(28, 120, 137, 0.82);
  height: 100vh;
  min-height: 775px;
}

.container {
  background: none;
  padding: 280px 0 0;
}

.about p {
  line-height: 1.5;
  text-align: right;
}

.about header {
  color: $about-title-text-color;
  font-size: 3.1em;
  font-weight: 700;
  line-height: 1em;
}

.darga {
  color: $about-title-name-text-color;
}

.subtitle {
  color: $about-subtitle-text-color;
  float: right;
  font-size: 0.62em;
  font-weight: 500;
  position: relative;
  right: 2px;
  top: 8px;
}

.study-duration-unit-count {
  color: $about-duration-unit-text-color;
  font-size: 1.2em;
  font-weight: 700;
}

/* MEDIA QUERIES */

@media (max-width: 800px) {
  .about .container {
    padding-top: 200px;
  }

  .about main {
    margin: 0 auto;
    max-width: 485px;
  }

  .about header {
    text-align: center;
  }

  .about p {
    margin-bottom: 30px;
    text-align: center;
  }

  .about header .logo {
    display: block;
    width: 100%;
  }

  .about header .subtitle {
    display: block;
    line-height: 1.3;
    margin: 6px 0 25px;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .about .container {
    padding-top: 28%;
  }

  .about main {
    padding: 40px;
    width: 100%;
  }
}

@media (max-width: 486px) {
  .about header .logo {
    font-size: 0.8em;
  }

  .about header .subtitle {
    font-size: 0.55em;
  }
}

@media (max-width: 325px) {
  .about .container {
    padding-top: 40px;
  }
}
