@use '../../config';
@use '../../mixins/break';

.about-section {
  background-attachment: scroll;
  background-position: center;
  //TODO get images working with webpack
  //background-image: url("../img/mountains-grey.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  height: 100vh;
  min-height: 775px;
  position: relative;

  main {
    @include break.under(medium) {
      padding: 40px;
      width: 100%;
    }

    @include break.under(large) {
      margin: 0 auto;
      max-width: 485px;
    }
  }

  p {
    line-height: 1.5;
    text-align: right;

    @include break.under(large) {
      margin-bottom: 30px;
      text-align: center;
    }
  }

  header {
    color: config.$about-title-text-color;
    font-size: 3.1em;
    font-weight: 700;
    line-height: 1em;

    @include break.under(large) {
      text-align: center;
    }
  }
}

.overlay {
  background: rgba(28, 120, 137, 0.82);
  height: 100vh;
  min-height: 775px;
}

.container {
  background: none;
  padding: 280px 0 0;

  @include break.under(large) {
    padding-top: 200px;
  }

  @include break.under(medium) {
    padding-top: 28%;
  }

  @include break.under(tiny) {
    padding-top: 40px;
  }
}

.logo {
  @include break.under(large) {
    display: block;
    width: 100%;
  }

  @include break.under(small) {
    font-size: 0.8em;
  }
}

.darga {
  color: config.$about-title-name-text-color;
}

.subtitle {
  color: config.$about-subtitle-text-color;
  float: right;
  font-size: 0.62em;
  font-weight: 500;
  position: relative;
  right: 2px;
  top: 8px;

  @include break.under(large) {
    display: block;
    line-height: 1.3;
    margin: 6px 0 25px;
    width: 100%;
  }

  @include break.under(small) {
    font-size: 0.55em;
  }
}
