@use '../../constants';
@use '../../general';

.duration-unit-count {
  color: constants.$about-duration-unit-text-color;
  font-size: 1.2em;
  font-weight: 700;
}

/* MEDIA QUERIES */

@media (max-width: 800px) {

}

@media (max-width: 600px) {

}

@media (max-width: 486px) {

}

@media (max-width: 325px) {

}
