nav.portfolio-nav {
  font-family: "Roboto", sans-serif;
  color: #c7d0d1;
  background: #455154;
  width: 100%;
  position: fixed;
  /*not affected by the about overlay*/
  z-index: 1;

  a {
    text-decoration: none;
    color: inherit;
  }

  a:hover {
    text-decoration: none;
  }

  .nav-logo {
    float: left;
    padding: 15px 0;
    color: #f29a47;
    font-weight: 700;
  }

  .nav-logo:hover {
    color: #d1dee0;
  }

  ul {
    list-style: none;
    float: right;
    /*Remove spaces between inline-block children*/
    font-size: 0;
    padding: 0;
  }

  ul li {
    display: inline-block;
    /*Override 0-size text in ul*/
    font-size: 1rem;
  }

  ul li a {
    display: inline-block;
    padding: 15px 11.2px;
  }

  ul li a:hover {
    color: #f29a47;
    background: #1b2e32;
  }
}

/*MEDIA QUERIES*/

@media (max-width: 800px) {
  nav .container {
    max-width: 550px;
    padding: 0 20px;
  }

  nav .nav-logo {
    margin-left: 11px;
  }
}

@media (max-width: 600px) {

}

@media (max-width: 486px) {
  /*NAVIGATION*/

  nav {
    text-align: center;
  }

  nav .container {
    padding: 0;
  }

  nav .nav-logo {
    float: none;
    padding: 14px 0 10px;
  }

  nav ul {
    float: none;
    width: 100%;
  }

  nav ul li a {
    padding: 12px 12px;
  }
}

@media (max-width: 325px) {
  nav .nav-logo {
    display: none;
  }
}
