@use '../../config';
@use '../../utils/break';

.bar {
  background: config.$nav-bar-background-color;
  color: config.$nav-bar-text-color;
  font-family: 'Roboto', sans-serif;
  width: 100%;

  @include break.under(medium) {
    text-align: center;
  }

  ul {
    font-size: 0; // remove spaces between inline-block children
    list-style: none;
    padding: 0;

    @include break.under(medium) {
      text-align: center;
      width: 100%;
    }

    @include break.under(small) {
      margin: 0 auto;
      max-width: 180px;
    }
  }

  li {
    display: inline-block;
    font-size: 1rem; // override 0-size text in ul
  }
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 0;

  @include break.under(medium) {
    flex-direction: column;
  }
}

.about {
  color: config.$nav-bar-logo-text-color;
  font-weight: 700;
  padding: 15px 0;

  @include break.under(medium) {
    padding: 8px 0 0;
  }

  &:hover {
    color: config.$nav-bar-logo-hover-text-color;
  }
}

.button {
  a {
    color: inherit;
    display: inline-block;
    padding: 15px 11.2px;

    @include break.under(medium) {
      padding: 6px 10px;
      width: 80px;
    }

    &:hover {
      background: config.$nav-button-hover-background-color;
      color: config.$nav-button-hover-text-color;
    }
  }
}
