// hex colors can only be defined in this file
/* stylelint-disable color-no-hex */
$color--bubbles: #f5f9f7;
$color--catskill-white: #eef5f7;
$color--geyser: #d1dee0;
$color--tiara: #c7d0d1;
$color--opal: #a8c2c7;
$color--squirrel: #8f8276;
$color--river-bed: #455154;
$color--cape-cod: #394446;
$color--rajah: #f5b070;
$color--jaffa: #f29a47;
$color--zest: #e77f1f;
$color--elm: #1c7889;
$color--spectra: #2d4c53;
$color--teal-blue: #024a58;
$color--timber-green: #1b2e32;
