@use 'constants';
@use 'layout';
@use '../utils/break';

$common-font-stack: 'Arimo', 'Helvetica', sans-serif;

*,
*::before,
*::after {
  box-sizing: border-box;
  color: inherit;
}

html,
body {
  overflow: hidden; // never scroll at this top level of the page
}

body {
  color: constants.$body-text-color;
  font-family: $common-font-stack;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.content-section {
  background: constants.$content-section-background-color;
  height: calc(100vh - #{layout.$navigation-bar-height}); // must have an explicit height to allow scrolling;
  overflow: auto; // allow scrollbar within content sections

  // make sure the scrollbar doesn't clip at the bottom
  @include break.under(large) {
    height: layout.$content-section-height--break-large;
  }

  @include break.under(medium) {
    height: layout.$content-section-height--break-medium;
  }

  @include break.under(small) {
    height: layout.$content-section-height--break-small;
  }

  @include break.under(tiny) {
    height: layout.$content-section-height--break-tiny;
  }
}

.container {
  margin: 0 auto;
  max-width: layout.$container-max-width;
  overflow: hidden;  // no margin collapse w/children
  padding: 88px 0;

  @include break.under(large) {
    max-width: layout.$container-max-width--break-large;
    padding: 40px 0;
  }

  @include break.under(medium) {
    max-width: layout.$container-max-width--break-medium;
  }

  @include break.under(small) {
    max-width: layout.$container-max-width--break-small;
    padding: 18px 0;
  }

  @include break.under(tiny) {
    max-width: layout.$container-max-width--break-tiny;
  }
}

a {
  color: constants.$link-text-color;
  text-decoration: none;
}

// used by headings that are needed for HTML5 document outline but not for visually browsing the site
.invisible-but-outline-readable {
  height: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $common-font-stack;
  text-align: center;
}

h2 {
  color: constants.$content-section-heading-text-color;
  font-size: 40px;
  margin: 0 0 40px;

  @include break.under(large) {
    font-size: 38px;
    margin-bottom: 20px;
  }

  @include break.under(medium) {
    font-size: 36px;
    margin-bottom: 15px;
  }

  @include break.under(small) {
    font-size: 33px;
    margin-bottom: 12px;
  }

  @include break.under(tiny) {
    font-size: 30px;
    margin-bottom: 10px;
  }
}

h3 {
  color: constants.$content-section-sub-heading-text-color;
  margin-bottom: 0;
  margin-top: 1.5em;
}
