@use 'constants';

*,
*::before,
*::after {
  box-sizing: border-box;
  color: inherit;
}

body {
  background: constants.$body-background-color;
  color: constants.$body-text-color;
  font-family: 'Arimo', 'Helvetica', sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.content-section {
  background: constants.$content-section-background-color;

  // No margin collapse w/children
  overflow: hidden;
}

.container {
  margin: 0 auto;
  max-width: 720px;

  // No margin collapse w/children
  overflow: hidden;
  padding: 10px 35px 0;
}

a {
  color: constants.$link-text-color;
  text-decoration: none;
}

// Used by headings that are needed for HTML5 document outline but not for visually browsing the site
.invisible-but-outline-readable {
  height: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Arimo', 'Helvetica', sans-serif;
}

h2 {
  color: constants.$content-section-heading-text-color;
  font-size: 40px;
  margin: 0;
}

h3 {
  color: constants.$content-section-sub-heading-text-color;
  margin-bottom: 0;
  margin-top: 1.5em;
}
