$base-width-unit: 120px;

$container-max-width: calc(#{$base-width-unit} * 6);
$container-max-width--break-large: calc(#{$base-width-unit} * 4);
$container-max-width--break-medium: calc(#{$base-width-unit} * 3);
$container-max-width--break-small: calc(#{$base-width-unit} * 2);
$container-max-width--break-tiny: calc(#{$base-width-unit} * 1);

// navbar height + content section height must always equal 100%
$navigation-bar-height: 54px;
$navigation-bar-height--double-stacked: 68px;
$navigation-bar-height--triple-stacked: 104px;
$navigation-bar-height--fully-stacked: 176px;

// must have an explicit height to allow scrolling;
$content-section-height: calc(100vh - #{$navigation-bar-height});

// make sure the scrollbar doesn't clip at the bottom
$content-section-height--break-large: calc(100vh - #{$navigation-bar-height});
$content-section-height--break-medium: calc(100vh - #{$navigation-bar-height--double-stacked});
$content-section-height--break-small: calc(100vh - #{$navigation-bar-height--triple-stacked});
$content-section-height--break-tiny: calc(100vh - #{$navigation-bar-height--fully-stacked});

$skill-card-width: $base-width-unit;
$skill-card-height: 172px;
$skill-list-min-height: calc(#{$skill-card-height} * 2);

$projects-section-container-max-width: calc(#{$base-width-unit} * 9);
// decrease to 1 per line before the breakpoint, so as not to add a new `huge` size
$projects-section-container-h-padding: calc(#{$base-width-unit} * 0.25);
$project-card-max-width: calc(#{$base-width-unit} * 4);
$project-card-min-width: calc(#{$base-width-unit} * 2);

$resource-link-width: calc(#{$base-width-unit} * 1.37);
