.contact {
  background: none;
  color: #eef5f7;
  height: 275px;
}

.contact .container {
  background: none;
  text-align: center;
  height: inherit;
  padding: 22px 0 0;
  font-size: 0;
}

.contact h2 {
  color: inherit;
  margin-top: 40px;
  margin-bottom: 33px;
  text-align: center;
}

.contact .button {
  color: #e77f1f;
  margin: 0 13px;
}

.contact .button:hover {
  color: inherit;
  text-decoration: none;
}

.contact i {
  font-size: 80px;
}

.contact .icon-envelope {
  font-size: 68px;
  position: relative;
  top: 1px;
}

.contact span {
  font-size: 0;
}

/*MEDIA QUERIES*/

@media (max-width: 800px) {

}

@media (max-width: 600px) {

}

@media (max-width: 486px) {
  .contact {
    height: auto;
  }

  .contact .container {
    padding: 40px 0 15px;
    max-width: 200px;
    font-size: 0;
  }

  .contact h2 {
    margin-top: 0;
    margin-bottom: 6px;
  }

  .contact .button {
    display: inline-block;
    margin: 4px 10px;
  }
}

@media (max-width: 325px) {

}
