/*MEDIA QUERIES*/

@media (max-width: 800px) {

}

@media (max-width: 600px) {

}

@media (max-width: 486px) {
  .contact {
    height: auto;
  }

  .contact .container {
    padding: 40px 0 15px;
    max-width: 200px;
    font-size: 0;
  }

  .contact h2 {
    margin-top: 0;
    margin-bottom: 6px;
  }

  .contact .button {
    display: inline-block;
    margin: 4px 10px;
  }
}

@media (max-width: 325px) {

}
