@use '../../config';
@use '../../utils/break';

.content-section {
  background: none;
  color: config.$contact-section-text-color;

  span {
    font-size: 0;
  }

  i {
    font-size: 80px;
  }
}

.container {
  background: none;
  font-size: 0;
  height: inherit;
  text-align: center;

  @include break.under(small) {
    font-size: 0;
    max-width: 200px;
  }
}

.button {
  margin: 0 13px;

  @include break.under(small) {
    display: inline-block;
    margin: 4px 10px;
  }

  &:hover {
    color: inherit;
  }

  .envelope {
    font-size: 68px;
    position: relative;
    top: 1px;
  }
}
