/* GENERAL */

*,
*::before,
*::after {
  box-sizing: border-box;
  color: inherit;
}

body {
  background: #394446;
  color: #2d4c53;
  font-family: 'Arimo', 'Helvetica', sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 720px;
}

.content-section {
  background: #024a58;

  /* No margin collapse w/children */
  overflow: hidden;
}

.content-section .container {
  background: #eef5f7;

  /* No margin collapse w/children */
  overflow: hidden;
  padding: 10px 35px 0;
}

a {
  color: #e77f1f;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* HEADINGS */

/* used by headings that are needed for HTML5 document outline but not for visually browsing the site */
.invisible-but-outline-readable {
  /* call attention if hiding isn't working */
  color: red;
  height: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Arimo', 'Helvetica', sans-serif;
}

h2 {
  color: #1b2e32;
  font-size: 40px;
  margin: 0;
}

h3 {
  color: #1b2e32;
  margin-bottom: 0;
  margin-top: 1.5em;
}
