@use '../../config';
@use '../../utils/break';

.resource-link {
  align-items: center;
  background: config.$resource-link-background-color;
  color: config.$resource-link-text-color;
  display: inline-flex;
  justify-content: left;
  margin: 0 14px 28px;
  padding: 10px 21px;
  width: config.$resource-link-width;

  @include break.under(small) {
    margin-bottom: 20px;
  }

  &:hover {
    background: config.$resource-link-hover-background-color;
    color: config.$resource-link-hover-text-color;
  }

  i {
    font-size: 42px;
  }

  .name {
    font-size: 1.1rem;
    font-weight: normal;
    line-height: 1.4em;
    margin: 0 0 0 18px;
    text-align: left;
  }
}
