// colors can only be defined in this file
/* stylelint-disable color-no-hex */

$color--elm: #1c7889;
$color--spectra: #2d4c53;
$color--teal-blue: #024a58;
$color--timber-green: #1b2e32; //todo
$color--squirrel: #8f8276;
$color--river-bed: #455154;
$color--cape-cod: #394446;
$color--gray-nurse: #f1f4f2; //todo
$color--catskill-white: #eef5f7; //todo
$color--geyser: #d1dee0;
$color--tiara: #c7d0d1;
$color--rajah: #f5b070;
$color--jaffa: #f29a47; //todo
$color--zest: #e77f1f; //todo

$body-background-color: $color--cape-cod;
$body-text-color: $color--spectra;
$content-section-background-color: $color--teal-blue;

$nav-bar-background-color: $color--river-bed;
$nav-bar-text-color: $color--river-bed;
$nav-bar-logo-hover-text-color: $color--geyser;

$about-duration-unit-text-color: $color--rajah;

$skill-sort-selector-text-color: $color--elm;
$skill-card-border-color: $color--spectra;
$skill-card-name-color: $color--elm;
$skill-card-type-color: $color--squirrel;

$projects-section-background-color: $color--elm;
$project-card-border-color: $color--elm;
$project-card-name-color: $color--elm;
$project-card-date-color: $color--squirrel;
$project-card-tags-color: $color--elm;
